<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" th:remove="tag">
    <script th:src="@{/js/deleteAndAddUser.js}"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="container mt-3">
    <h1 class="text-center">新規チーム作成</h1>
    <div class="container-form">
<form  th:action="@{/manager/team-create}" th:object="${teamCreateInput}" method="post" >
    <div class="form-group mb-3">
        <label>チーム名（最大30文字）</label>
        <input name="name" class="form-control" maxlength="30" required/>
    </div>
<!--    ************************-->
    <div class="form-group mb-3">
        <label>報告書公開設定</label>
        <select  name="release"  class="form-select">
            <option th:value="${false}">非公開</option>
            <option th:value="${true}">公開</option>
        </select>
    </div>
    <!--    ↓追加************************-->
    <label >メンバーの追加</label><br>
        <label>Manager</label>
        <div class="form-group mb-3 d-flex">
            <select id="managerList" class="form-select"  name="employeeCodeIsManager" multiple >
                <option th:each="manager : ${managers}" th:text="${manager.name}" ></option>
            </select>
            <div>
                <button type="button" onclick="addManager()" class="btn btn-success">←追加</button>
                <button type="button" onclick="removeManager()" class="btn btn-success">→削除</button>
            </div>
            <select id="userList" class="form-select" multiple>
                <option th:each="user : ${users}" th:text="${user.name}" th:value="${user.employeeCode}"></option>
            </select>
        </div>

        <label>Member</label>
        <div class="form-group mb-3 d-flex">
            <select id="memberList" class="form-select" name= "employeeCodeIsMember" multiple>
                <option th:each="member : ${members}" th:text="${member.name}"
                        ></option>
            </select>
            <div>
                <button type="button" onclick="addMember()" class="btn btn-success">←追加</button>
                <button type="button" onclick="removeMember()" class="btn btn-success">→削除</button>
            </div>
            <select id="usersList" class="form-select" multiple >
                <option th:each="user : ${users}" th:text="${user.name}"
                        th:value="${user.employeeCode}"></option>
            </select>
        </div>

<!--        <input id="managerInput" name="employeeCodeIsManager" type="hidden" th:field="*{employeeCodeIsManager}" >-->
<!--        <input id="memberInput" name="employeeCodeIsMember" type="hidden"  th:field="*{employeeCodeIsMember}">-->
<!--    ************************-->
    <div class="form-group">
        <button type="submit" id = "create" class="w-100 btn btn-lg btn-success" onclick="setListValues()">作成</button>
    </div>
</form>
    </div>
        <div class="button-box">
            <a th:href=@{/manager/teamlist}>チーム一覧に戻る</a>
        </div>
    </div>
</div>
</body>
</html>